
* {
	margin:0;
	padding:0;
	transition: all .1s ease-in;
	
}
html {
	border:15px solid white;
	}
body {
	margin:0;
	padding:0;
	background-color: #3b3f45;
	font-family:“Trebuchet MS”, Trebuchet, Arial, sans-serif;
	
	
}	
.MainForm{
    width:70%;
	background-color: #988DB3;
	color: white;
	margin:10% 20%;
}
header {
	background-color:#5a5a5a;
	text-align:center;
	color:#eb7e7f;
	
}
footer {
	    height:30%;
		text-align: center;
        color:#eb7e7f;
        background-color:#5a5a5a;
        line-height: 200%;
        margin:10% 20%;
}

li:nth-child(even)
 {
	  background-color:#7a7593;
}
ul {
	padding:0;
	list-style-type:none;
}
li:hover {
	cursor:pointer;
	border-top:5px solid white;
	border-bottom:5px solid white;
	background-color:#625e77;
	
}
li:active {
	background-color:#eb7e7f;
}
li {
	line-height: 200%;
}
/*    display: none;
}
.checkbox label:before {
    border-radius: 3px;
}
input[type='checkbox']:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 15px;
    color: #f3f3f3;
   text-align: center;
    line-height: 15px;
}*/


input:checked + label {
	
	text-decoration:line-through;
}
