* {margin:0;
padding:0;
border:0;
box-sizing:border-box;
}
body {
  background-color: lightgrey;
  font-family: "Arial", sans-serif;
}
input[type="text"] {
  margin:0;
  outline: none;
  -webkit-appearance: none;
  width:70%;
  color:#ec5a62;
  font-size: 100px;
  text-align:left;
  background-color: lightgrey;
  padding-left:80px;
}
input::placeholder {
  color: #c2c2c2;
form {
  
}
div {
  display: inline-block;
  width:20%;
  padding: 0 50px;
  }
  ul {
    list-style-type:none;
    }
  li {display: inline-block;}  
  a:hover { 
    color:#ec5a62;
     }
